body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  background-color: rgb(43, 42, 48);
}

.container {
  max-width: 1000px;
  margin: 0px auto;
}

@media (max-width: 1000px){
  .container{
    max-width: 970px;
  }
}
@media (max-width: 992px){
  .container{
    max-width: 750px;
  }
}

@media (max-width: 767px){
  .container{
    max-width: none;
  }
}

@media (max-width: 680px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .filter, .clear, .listTodo {
    margin-top: 10px;
  }
  .user, .searchbar, .toolbar, .list {
    margin-top: 10px;
  }
}

@media (max-width: 360px) {
  .filter {
    display: flex;
    flex-direction: column;
  }
  .item label {
    font-size: 16px;
  }
}

.headTodo {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  color: rgb(124, 133, 255);
  margin-bottom: 20px;
}

.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
}

.logout {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(43, 42, 48);
  color: rgb(252, 73, 73);
  padding: 3px;
  cursor: pointer;
  margin-top: -3px;
  font-size: 20px;
}

.logout:hover {
  transform: scale(1.1);
}

.searchbar input[type="search"] {
  width: 100%;
  border: 1px solid gray; 
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
  background-color: rgb(43, 42, 48);
  color: rgb(124, 133, 255);
  opacity: 0.7;
}

::-webkit-input-placeholder {
  color: rgb(124, 133, 255);
}

.searchbar input[type="search"]::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.searchbar input[type="search"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

.toolbar {
  display: flex;
  align-items: center;
}

.check-all{
  flex: 0 1 10%;
  display: none;
}

.toolbar input[type="addTodo"]{ 
  width: 100%;
  flex: 0 1 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 20px;
  background-color: rgb(43, 42, 48);
  color: rgb(124, 133, 255);
  opacity: 0.5;
}

.toolbar input[type="addTodo"]::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.toolbar input[type="addTodo"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

.list {
  color: white;
}

.list div {
  border-bottom: 1px solid gray;
  margin-top: 5px;
}

.item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-style: italic;
}

.item label{
  cursor: pointer;
}

.item label:hover {
  font-weight: bold;
}

.item button {
  background-color: rgb(43, 42, 48);
  border: 1px solid gray;
  border-radius: 5px;
  transform: scale(0.9);
  cursor: pointer;
}

.remove {
  width: 35px;
  height: 35px;
}

.item button:hover {
  transform: scale(1);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.filter {
  font-size: 18px;
  color: rgb(124, 133, 255);
}

.filter label:hover {
  cursor: pointer;
}

.filter input[type="radio"]{
  cursor: pointer;
}

.quantity {
  font-size: 18px;
}

.clear button{
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(43, 42, 48);
  /* background-color: rgb(250, 170, 50, 0.02); */
  color: rgb(252, 73, 73);
  padding: 3px;
  cursor: pointer;
  font-size: 18px;
}

.clear button:hover {
  transform: scale(1.1);
}

.checkbox {
  cursor: pointer;
  display: none;
}

/* стили для метки */
label {
  font-weight: normal;
  line-height: 30px;
  vertical-align: middle;
}
 
/* формируем внешний вид чекбокса в псевдоэлементе before */
.item label:before {
  content: " ";
  color: rgb(0, 0, 0);
  display: inline-block;
  font: 19px/19px Arial;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 18px;
  height: 18px;
  background: #FFF;
  border: 1px solid #e3e3e3;
  border-image: initial;
  vertical-align: middle;
  border-radius: 5px;
}

.toolbar label:before {
  content: " ";
  color: rgb(0, 0, 0);
  display: inline-block;
  font: 19px/19px Arial;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 18px;
  height: 18px;
  background: #FFF;
  border: 1px solid #e3e3e3;
  border-image: initial;
  vertical-align: middle;
  border-radius: 5px;
  cursor: pointer;
}
 
/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
  content: "v";
  font-weight: bold;
  color: green;
}
/* disabled */
input:disabled + label:before {
  background: #eee;
  color: #aaa;
}
